snippet lst
\begin{lstlisting}
	${0}
\end{lstlisting}
endsnippet

snippet llst
\begin{lstlisting}[language=${1}]
	${0}
\end{lstlisting}
endsnippet

snippet lsti
\lstinline|${0}|
endsnippet

snippet llsti
\lstinline[language=${1}]|${0}|
endsnippet

snippet mini
\begin{minipage}{${1}\textwidth}
	${0}
\end{minipage}
endsnippet
