snippet lst listing
	\begin{lstlisting}
		${0}
	\end{lstlisting}

snippet llst listing with language
	\begin{lstlisting}[language=${1}]
		${0}
	\end{lstlisting}

snippet lsti lst inline 
	\lstinline|${0}|

snippet llsti lst inline with language
	\lstinline[language=${1}]|${0}|

snippet mini Minipage
	\begin{minipage}{${1}\textwidth}
		${0}
	\end{minipage}
